.container-fluid{
    background-color: rgb(182, 226, 226);
    text-align: center;
    justify-content: center;
    display: grid;
    
}
body{
    background-color: rgb(182, 226, 226);
    text-align: left;
    padding: 4%;
    font-size: 100%;
}
h1{
    font-size: 130%;
    text-decoration: underline;
}
h3{
    font-size: 100%;
}
body{
    background-color: rgb(182, 226, 226);
}


.imagen{
    width: 50px ;
    height: 40px;
    border-radius: 20%;
    padding: 0.5px;
}

.calendario{
    width: 100%;
}
h3{
    text-decoration-line: underline;
}

